@font-face {
    font-family: devicon;
    src: url('../public/fonts/devicon/devicon.eot?-hdf3wh');
    src: url('../public/fonts/devicon/devicon.eot?#iefix-hdf3wh') format('embedded-opentype'),
        url('../public/fonts/devicon/devicon.woff?-hdf3wh') format('woff'),
        url('../public/fonts/devicon/devicon.ttf?-hdf3wh') format('truetype'),
        url('../public/fonts/devicon/devicon.svg?-hdf3wh#devicon') format('svg');
}